<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>All Production Company</title>
</head>
<body>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <div class="panel-primary">
                <div class="panel-heading">
                    <div class="card text-center">
                        <h1 class="card-header">All Productions Company</h1>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-striped">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>No</th>
                            <th>Name</th>
                            <th>NIP</th>
                            <th>Address</th>
                            <th>Actions</th>
                            </thead>
                            <tr th:each="productionCompany : ${productionsCompany}">
                                <td th:text="${productionCompanyStat.index}+1">123</td>
                                <td th:text="${productionCompany.name}">Marvel</td>
                                <td th:text="${productionCompany.nip}">876-098-234</td>
                                <td th:text="${productionCompany.address}">300 Movies St., Los Angeles</td>
                                <td>
                                    <a href="#" th:href="@{'/productionCompany/' + ${productionCompany.id} + '/show'}" style="margin-right: 5px">View</a>
                                    <a href="#" th:href="@{'/productionCompany/' + ${productionCompany.id} + '/delete'}" style="margin-right: 5px">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="col-md-1">
                <input onclick='javascript:window.history.back()' value='Back' type='button' class="btn btn-outline-dark"/>
            </div>
            <div class="col-md-1 col-md-offset-4">
                <a href="#" th:href="@{'/director/new'}" role="button" class="btn btn-outline-success">Add</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>