<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<!--/*@thymesVar id="director" type="com.example.films8k.commands.DirectorCommand"*/-->
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <form th:object="${director}" th:action="@{/director/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <h1 class="card-header"><span th:text="*{id} != null ? 'Edit' : 'New '"></span>Director Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 form-group">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"/>
                                </div>
                                <div class="col-md-8 form-group">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 form-group">
                                    <label>Age:</label>
                                    <input type="text" class="form-control" th:field="*{age}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>